<div class="container-fluid mb-auto px-4 py-3 my-3">
  <div class="row mb-4 align-items-center">
    <div class="col-10">
      <h2 class="font-weight-bolder mb-0">
        Find your new lover
      </h2>
    </div>
    <div class="col-2 text-right">
      <button class="btn btn-light" routerLink="/members/search">
        <fa-icon [icon]="filterIcon" class="mr-1"></fa-icon>
        Filter
      </button>
    </div>
  </div>

  <ng-container *ngIf="vm$ | async as vm">
    <error-alert *ngIf="vm.error" [error]="vm.error" [inline]="true">
      <span (click)="retry()">Click here to retry.</span>
    </error-alert>

    <div *ngIf="vm.loading" class="flex-center mt-5 mb-3">
      <spinner size="medium"></spinner>
    </div>

    <div *ngIf="vm.members.length > 0" class="row h-100">
      <div *ngFor="let user of vm.members"
           class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4">
        <app-member-card [user]="user"></app-member-card>
      </div>
    </div>

    <div *ngIf="vm.noMembersFound" class="col-10 no-members">
      Ooops... No members found 😢. <br>
      Do you want to refresh the filters?
      <a routerLink="/members/search">Retry!</a>
    </div>
  </ng-container>

  <!--  <div class="pagination">
      <div *ngIf="paginationHasMorePages$ | async" class="flex-center my-5">
        <div *ngIf="paginationLoading$ | async; else loadMoreButton"
             class="flex-center mt-5 mb-3">
          <spinner size="medium"></spinner>
        </div>

        <ng-template #loadMoreButton>
          <button class="btn btn-primary px-5" (click)="loadMore()">
            Load More
          </button>
        </ng-template>
      </div>

      <div *ngIf="paginationError$ | async as pgnError" class="flex-center">
        <error-alert [error]="pgnError" [inline]="true"></error-alert>
      </div>

    </div>-->

  <div class="pagination" *ngIf="pagination$ | async as pagination">

    <div *ngIf="hasMorePages$ | async" class="flex-center my-5">
      <div *ngIf="pagination.loading; else loadMoreButton"
           class="flex-center mt-5 mb-3">
        <spinner size="medium"></spinner>
      </div>

      <ng-template #loadMoreButton>
        <button class="btn btn-primary px-5" (click)="loadMore()">
          Load More
        </button>
      </ng-template>
    </div>

    <div *ngIf="pagination.error" class="flex-center">
      <error-alert [error]="pagination.error" [inline]="true"></error-alert>
    </div>

  </div>

</div>
