<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <input type="text" formControlName="username"
           placeholder="Email address" class="form-control">
    <div class="alert alert-danger" *ngIf="isRequired('username')">
      Email is required!
    </div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="password"
           placeholder="Password" class="form-control">
    <div class="alert alert-danger" *ngIf="isRequired('password')">
      Password is required!
    </div>
  </div>

  <div class="submit">
    <button [disabled]="form.invalid" type="submit"
            class="btn btn-primary btn-block">
      <span *ngIf="!loading">Login Now</span>
      <span *ngIf="loading">Signing in...</span>
    </button>
  </div>
</form>
