.navbar {
  background: rgba(var(--bg-color-light-rgb), 0.85);
  transition: 0.4s all;
  border-radius: 10px;
  margin: 10px;
  position: sticky;
  top: -5px;
  z-index: 99999;
  //box-shadow: 0 0 5px var(--box-shadow-color);
}

.navbar-brand {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 700;
}

.navbar-nav .nav-link {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 400;
}

#button-basic  {
  color: var(--text-color)!important;

  &:hover {
    color: var(--main-color)!important;
  }
}

a {
  color: var(--text-color);
  transition: 0.2s all;

  &:hover {
    color: var(--main-color)!important;
  }
}

.form-control-primary {
  margin: 10px;
  opacity: 0.5;
  border-radius: 2px;
  background: #ffffffc7;
  border-color: transparent;

  &:focus {
    opacity: 0.8;
  }
}

.dropdown-item {
  cursor: pointer;
  background: transparent!important;
}

.dropdown-divider {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-color: #a6a6a61c;
  border-width: 2px;
}

.active {
  color: var(--main-color)!important;
}
