<nav class="navbar navbar-expand-md mx-4 mt-4 px-4">
<!--  fixed-top-->
  <a class="navbar-brand" routerLink="/">
    <fa-icon [icon]="heartIcon" [classes]="['text-danger mr-1']"></fa-icon>
    DatingYou
  </a>
  <button (click)="show()" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="showMenu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  routerLink="/members/all">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/matches">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/messages">Messages</a>
      </li>
    </ul>

<!--    <input style="width: 300px" type="text" class="form-control form-control-primary ml-5" placeholder="Search..." >-->

    <ul class="navbar-nav ml-auto">
      <li class="nav-item text-danger cp">
            <app-theme-toggle></app-theme-toggle>
      </li>
      <li *ngIf="user" class="nav-item active">
        <div class="btn-group" dropdown>
          <a id="button-basic" dropdownToggle type="button" class="text-light dropdown-toggle">
            <fa-icon [icon]="userIcon" class="mr-1"></fa-icon>
            {{ user.name | titlecase }}
            <span class="caret"></span>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right mr-2">
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/members/profile">
                <fa-icon [icon]="userIcon" class="mr-2"></fa-icon>
                My Profile
              </a>
              <a class="dropdown-item" routerLink="/settings">
                <fa-icon [icon]="settingsIcon" class="mr-2"></fa-icon>
                Settings
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="onLogout()">
                <fa-icon [icon]="logoutIcon"></fa-icon>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li *ngIf="!user" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/auth/login">Login</a>
      </li>
      <li *ngIf="!user" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/auth/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
