.navbar {
  background: var(--bg-color-light) !important;
  transition: 0.4s all;
  border-radius: 10px;
  margin: 10px;
  position: sticky;
  top: -5px;
  z-index: 99999;
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.navbar-brand {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 700;
}

.navbar-nav .nav-link {
  color: var(--text-color);
}

#button-basic  {
  color: var(--text-color)!important;

  &:hover {
    color: var(--main-color)!important;
  }
}

a {
  color: var(--text-color);

  &:hover {
    color: var(--main-color);
  }
}

.form-control-primary {
  margin: 10px;
  opacity: 0.5;
  border-radius: 2px;
  background: #ffffffc7;
  border-color: transparent;

  &:focus {
    opacity: 0.8;
  }
}

.dropdown-item {
  cursor: pointer;
}

.active {
  color: var(--main-color)!important;
}
