.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: var(--text-color-white);
  transition: 0.15s transform;

  &:hover {
    //transform: translateY(-3px);
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--text-color-white);
  }
}

.btn-secondary {
  background-color: var(--btn-secondary-bg-color);
  border-color: #93c7ff00;
  color: var(--btn-secondary-text-color);

  &:hover {
    background-color: var(--btn-secondary-bg-color);
    border-color: #93c7ff00;
  }
}

.btn-light {
  color: var(--btn-light-text-color);
  background-color: var(--btn-light-bg-color);
  border-color: var(--btn-light-bg-color);

  &:hover {
    color: var(--btn-light-text-color);
    background-color: var(--btn-light-bg-color);
    border-color: var(--btn-light-bg-color);
  }
}


.auth-btn button[type="submit"] {
    font-size: 18px;
    padding: 6px 30px;
    box-shadow: 0 0 10px rgba(107, 15, 192, 0.2);
}
