:root {

  --main-color: #862ed6;
  --main-color-rgb: 133, 46, 214;
  --secondary-color: #6b0fc0;

  --text-color: #1f1f1f;
  --text-color-normal: #353535;
  --text-color-light: #3e3e3e;

  --bg-color-normal: rgba(244, 244, 244);
  --bg-color-light: #ffffff;
  --bg-color-light-rgb: 255, 255, 255;

  --bg-color-normal-transparent: #ffffffbf;
  --bg-color-light-transparent: rgb(238, 244, 247, 0.5);

  --box-shadow-color: rgba(214, 214, 214, 0.3);


  /* Buttons */
  --btn-primary-text-color: white;
  --btn-primary-bg-color: var(--main-color);

  --btn-light-text-color: #343a40;
  --btn-light-bg-color: #ffffff;

  --btn-secondary-text-color: var(--main-color);
  --btn-secondary-bg-color:  #ba70ff47;

  /* Inputs */
  --input-bg: #f4f4f4;
  --input-color: #4c4c4c;
  --input-border-color: #dddddd80;
  --input-focus-color: #4c4c4c;
  --input-focus-bg: white;


  /* Member Card Component */
  --member-card-title-color: var(--main-color);
  --member-card-subtitle-color: #4c6176db;


  /* Scrollbar */
  --scrollbar-color: #a8a7a7;

}

[data-theme="dark"] {

  --text-color: #eee;
  --text-color-normal: #b3b9c5;
  --text-color-light: #9051b1;

  --bg-color-normal: #202020;
  --bg-color-light: #2a2a2a;
  --bg-color-light-rgb: 42, 42, 42;

  --bg-color-normal-transparent: #292929c2;
  --bg-color-light-transparent: rgb(238, 244, 247, 0.5);

  --box-shadow-color: rgb(119, 119, 120, 0.3);


  /* Buttons */
  --btn-primary-text-color: white;
  --btn-primary-bg-color: var(--main-color);

  --btn-light-text-color: #dbdbdb;
  --btn-light-bg-color: rgba(74, 74, 74, 0.68);

  --btn-secondary-text-color: #41007d;
  --btn-secondary-bg-color:  #c78cfffa;

  /* Inputs */
  --input-bg: #232020;
  --input-color: #bfbfbf;
  --input-border-color: rgba(100, 100, 100, 0.4);
  --input-focus-color: #d3d3d3;
  --input-focus-bg: #1a1616;


  /* Member Card Component */
  --member-card-title-color: #d2a6ff;
  --member-card-subtitle-color: rgb(199 199 199);

  /* Scrollbar */
  --scrollbar-color: #a8a7a7;

}
