@import "~ngx-chips/core/styles/core/_core.scss";


$foundation-primary: #ba70ff47;
$foundation-primary-text: #6b0fc0;
$foundation-primary-dark: darken($foundation-primary, 10%);

// this is the container's theme
$foundation-theme: (
  container-border-bottom: 1px solid $foundation-primary
);

// this is the tag's theme
$foundation-tag-theme: (
  background: $foundation-primary,
  background-focused: $foundation-primary-dark,
  background-active: $foundation-primary-dark,
  background-hover: $foundation-primary-dark,
  color: $foundation-primary-text,
  border-radius: 5px,
  margin: .1rem 0.4rem .2rem 0,
  padding: 0px 12px 0px 15px,
  height: 32px,
  line-height: 32px,
);

// this is the delete icon's theme
$foundation-icon-theme: (
  fill: var(--btn-light-text-color),
  fill-focus: var(--btn-light-text-color),
  transition: all 0.2s
);

// apply theme to the container
tag-input .ng2-tag-input.foundation-theme {
  @include tag-input-theme($foundation-theme);
}


.ng2-tag-input {
  border: 1px solid #dddddd80!important;
  border-radius: 5px;
  padding: 6px 0 3px 5px!important;

  background: var(--input-bg);

  &__text-input {
    background: transparent;
    color: var(--text-color-normal) !important;
  }

  &--focused {
    border-color: $foundation-primary-text!important;
  }
}

// apply theme to the tags
tag-input .ng2-tag-input.foundation-theme tag {
  @include tag-theme($foundation-tag-theme);

  background: var(--btn-light-bg-color);
  color: var(--text-color-normal);

  &:hover {
    box-shadow: none !important;
    transform: translateY(-2px);
    background: var(--btn-light-bg-color);
    color: var(--text-color-normal)!important;
  }
}

// apply theme to the delete icon
tag-input .ng2-tag-input.foundation-theme tag delete-icon {
  @include icon-theme($foundation-icon-theme);
  //color: var(--btn-light-text-color)!important;
}
