
.member-tabset {
  .nav-tabs {
    border-bottom: 0;
    li {
      a {
        border: 0!important;
        background: none !important;
        color: var(--text-color-normal);
      }

      &.active {
        border-bottom: 4px solid #6b0fc0;
        position: relative;
      }

      &.active > a {
        border: 0 !important;
        color: var(--text-color);
      }
    }

    li:hover {
      border-bottom: 4px solid #6b0fc050;

      &.active {
        border-bottom: 4px solid #6b0fc0;
      }

      a {
        border: 0;
        background: none !important;
        color: var(--text-color);
      }

    }

  }

  .tab-content {
    margin-top: -3px;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    border: 0;
    //border-top: 1px solid var(--text-color-light);
    padding: 15px;
  }

}
