.dark {
  .select, .form-control {
    background: #ffffff45;
    color: white;
  }
}

.input-group {
  justify-content: center;
}

.select {
  border-radius: 0;
  background: #2f2f2fad;
  color: white;
  border: none !important;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 20px;
  margin-right: 2px;
}

.first-input {
  border-radius: 10px 0 0 10px;
}

.last-input {
  border-radius: 0 10px 10px 0;
}

.form-control {
  background: #2f2f2fad;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: none;
  margin-right: 4px;
  margin-left: 1px;
  max-width: 250px;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

option:not(:first-of-type) {
  color: black;
}

.search-button {
  padding: 12px 40px;
  background: rgba(107, 15, 192, 0.7);
  border: #6B0FC0;
  font-size: 24px;
  font-weight: 700;

  &:hover {
    background: #6b0fc0;
  }
}
