<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <h1 class="display-3 text-center">
        404 Not Found
      </h1>
      <h1 class="font-weight-light text-center">
        It looks like you're lost!
      </h1>
      <div class="d-flex justify-content-center mt-4">
        <button routerLink="/members" class="btn btn-lg btn-primary">
          <fa-icon [icon]="faHome" class="mr-2"></fa-icon>
          Go home
        </button>
      </div>
    </div>
  </div>
</div>
