<div class="container-fluid mt-5">
  <div class="row justify-content-center mb-5" style="padding-bottom: 100px">

    <ng-container *ngIf="loading$ | async">
      <div class="d-flex justify-content-center align-items-center mt-5 mb-3">
        <spinner size="medium"></spinner>
      </div>
    </ng-container>

    <ng-container *ngIf="error$ | async as error">
      <div class="col-12 col-sm-10 col-md-6 justify-content-center align-items-center my-4">
        <div class="error alert-error py-4">
          {{ error }}
          <span class="retry cp" (click)="loadData()">Retry?</span>
        </div>
      </div>
    </ng-container>

    <div *ngIf="showSettings$ | async" class="col-xs-12 col-sm-10 col-lg-9">
      <div class="row justify-content-center">
        <div class="col-12">
          <app-settings-header
            [page]="page$ | async"
            [user]="details$ | async">
          </app-settings-header>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-3">
          <app-member-edit-navigation></app-member-edit-navigation>
        </div>
        <div class="col-9">
          <div class="card shadow border-0 rounded overflow-hidden">
            <div [@routerAnimations]="prepareRoute(outlet)" class="card-body">
              <router-outlet #outlet="outlet"></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
