<h2 class="font-weight-bold mb-3">Login in Dating</h2>

<ng-container *ngIf="vm$ | async as vm">
  <app-login-form [loading]="vm.loading" (submitted)="onLogin($event)">
    <!--  used content projection-->
    <span id="type">Login now</span>
    <error-alert
      *ngIf="vm.error"
      [error]="vm.error"
      (click)="clearErrors()">
    </error-alert>
  </app-login-form>
</ng-container>

<div class="mt-3">
  <a routerLink="/auth/register" class="text-muted">
    Not registered yet? Register now!
  </a>
</div>

<style>
  h2 {
    color: var(--text-color)
  }
</style>
