<div>
  <h3 class="mb-3">Relationships matter. <br>Build yours.</h3>
  <p class="lead">Join Dating now. It's free.</p>

  <app-register-form [loading]="loading$ | async" (submitted)="handleRegister($event)">
    <span id="type">Register now</span>
    <div *ngIf="error$ | async as error" class="error alert alert-danger">
      {{ error }}
    </div>
  </app-register-form>

  <div class="text-center mt-3">
    <a routerLink="/auth/login">
      Already have an account? Sign in
    </a>
  </div>

</div>

