<div class="container-fluid mb-auto px-4 pt-3 my-3">
  <div class="row">
    <div class="col-10">
      <h2 class="mb-4 font-weight-bolder" style="font-size: 40px;">
        Find your new lover
      </h2>
    </div>
  </div>

  <div *ngIf="error$ | async as error" class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6">
      <div class="alert alert-error cp mb-1">
        {{ error }}
      </div>
    </div>
  </div>

  <div *ngIf="loading$ | async" class="d-flex justify-content-center align-items-center mt-5 mb-3">
    <spinner size="medium"></spinner>
  </div>

  <div *ngIf="members$ | async as members" class="row h-100">
    <div *ngFor="let user of members" class="col-xs-12 col-sm-6 col-md-3 col-lg-2 mb-4">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>

  <div class="pagination">
    <div *ngIf="paginationHasMorePages$ | async" class="d-flex justify-content-center my-5">
      <div *ngIf="paginationLoading$ | async; else loadMoreButton"
           class="d-flex justify-content-center align-items-center mt-5 mb-3">
        <spinner size="medium"></spinner>
      </div>

      <ng-template #loadMoreButton>
        <button class="btn btn-primary px-5" (click)="loadMore()">
          Load More
        </button>
      </ng-template>
    </div>

    <div *ngIf="paginationError$ | async as paginationError" class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-6">
        <div class="alert alert-error cp mb-1">
          {{ paginationError }}
        </div>
      </div>
    </div>
  </div>


</div>
