<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <span class="i-am">I am:</span>
    <div class="mx-3 custom-control custom-radio custom-control-inline">
      <input formControlName="gender" type="radio" value="male" id="male" class="custom-control-input">
      <label class="custom-control-label" for="male">Male</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input formControlName="gender" value="female" type="radio" id="female" class="custom-control-input">
      <label class="custom-control-label" for="female">Female</label>
    </div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="knownAs" autocomplete="knownAs"
           placeholder="Known as" class="form-control"
           [class.is-valid]="valid('knownAs')"
           [class.is-invalid]="required('knownAs')">
    <div class="invalid-feedback" *ngIf="required('knownAs')">
      Known as is required!
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <input type="text" formControlName="city"
               placeholder="City" class="form-control"
               [class.is-valid]="valid('city')"
               [class.is-invalid]="required('city')">
        <div class="invalid-feedback" *ngIf="required('city')">
          City is required!
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <input type="text" formControlName="country"
               placeholder="Country" class="form-control"
               [class.is-valid]="valid('country')"
               [class.is-invalid]="required('country')">
        <div class="invalid-feedback" *ngIf="required('country')">
          Country is required!
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="birthday"
           placeholder="Birthday (MM/dd/yyyy)" class="form-control"
           [class.is-valid]="valid('birthday')"
           [class.is-invalid]="required('birthday')">
    <div class="invalid-feedback" *ngIf="required('birthday')">
      Birthday is required!
    </div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="username" autocomplete="username"
           placeholder="Username" class="form-control"
           [class.is-valid]="valid('username')"
           [class.is-invalid]="required('username')">
    <div class="invalid-feedback" *ngIf="required('username')">
      Username is required!
    </div>
  </div>
  <div class="form-group">
    <input type="password" formControlName="password" autocomplete="current-password"
           placeholder="Password" class="form-control"
           [class.is-valid]="valid('password') && !passwordsError"
           [class.is-invalid]="required('password') || passwordLength('password')">
    <div class="invalid-feedback" *ngIf="required('password')">
      Password is required!
    </div>
    <div class="invalid-feedback" *ngIf="passwordLength('password')">
      Password must be at least 8 characters long!
    </div>
  </div>
  <div class="form-group">
    <input type="password" formControlName="confirmPassword" autocomplete="current-password"
           placeholder="Retype password" class="form-control"
           [class.is-valid]="valid('confirmPassword') && !passwordsError"
           [class.is-invalid]="required('confirmPassword') || passwordLength('confirmPassword')">
    <div class="invalid-feedback" *ngIf="required('confirmPassword')">
      You must re-type your password again!
    </div>
    <div class="invalid-feedback" *ngIf="passwordLength('confirmPassword')">
      Password must be at least 8 characters long!
    </div>
  </div>
  <div class="mt-2 invalid-feedback" *ngIf="passwordsError">
    Passwords don't match!
  </div>

  <div class="form-group">
    <ng-content select="error-alert"></ng-content>
  </div>

  <div class="submit">
    <button [disabled]="loading" type="submit"
            class="btn btn-primary">

      <span *ngIf="!loading; else loader">
        <ng-content select="#type"></ng-content>
      </span>

      <ng-template #loader>
        <spinner color="button" size="small"></spinner>
      </ng-template>

    </button>
  </div>
</form>
