<div class="card shadow border-0 overflow-hidden">
  <div class="cover-photo" [ngStyle]="getCover()">
    <div class="profile-photo" [ngStyle]="getProfilePicture()"></div>
    <div class="name">{{ user.knownAs }}, {{ user.age }}</div>

    <div class="location">
      <fa-icon [icon]="locationIcon" class="mr-2"></fa-icon>
      Lives in {{ user.city }}, {{ user.country }}
    </div>

    <div class="memberSince">
      <fa-icon [icon]="calendarIcon" class="mr-2"></fa-icon>
      Member since: {{ user.createdAt | date }}
    </div>

    <div class="lastActive">
      Active {{ user?.lastActive | timeAgo }}
    </div>

  </div>
  <div class="p-3 pt-5 mt-5">
    <tabset [justified]="true" class="member-tabset">

      <tab heading="Introduction">
        <p class="text-muted">{{ user.introduction }}</p>
      </tab>

      <tab heading="Interests">
        <div class="text-center">
            <span *ngFor="let interest of interests; let i=index"
                  class="badge mr-2 mb-2 px-4 py-2 badge-{{ colors[i % 4] }}">
             {{ interest }}
            </span>
        </div>
      </tab>

      <tab heading="Photos">
        <carousel>
<!--          <slide *ngFor="let photo of user.photos">-->
<!--            <img [src]="photo.url" [alt]="photo?.description" class="d-block photo-img margin-auto">-->
<!--            <div class="carousel-caption d-none d-md-block px-4 py-2 photo-img">-->
<!--              <h4>{{ photo.addedAt | date: 'dd/MM/yyyy'}}</h4>-->
<!--              <p>{{ photo.description }}</p>-->
<!--            </div>-->
<!--          </slide>-->
        </carousel>
      </tab>

    </tabset>

  </div>
</div>
