<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" formControlName="username"
           autocomplete="username"
           placeholder="Email address" class="form-control">
    <div class="alert alert-danger mt-1" *ngIf="isRequired('username')">
      Email is required!
    </div>
  </div>
  <div class="form-group">
    <input type="password" formControlName="password"
           autocomplete="current-password"
           placeholder="Password" class="form-control">
    <div class="alert alert-danger mt-1" *ngIf="isRequired('password')">
      Password is required!
    </div>
  </div>

  <div class="form-group">
    <ng-content select=".error"></ng-content>
  </div>

  <div class="submit">
    <button [disabled]="form.invalid" type="submit"
            class="btn btn-primary btn-block">
      <span *ngIf="!loading">
        <ng-content select="#type"></ng-content>
      </span>
      <span *ngIf="loading">Signing in...</span>
    </button>
  </div>
</form>
