<div class="container mt-5 p-5">
  <button (click)="get500Error()" class="btn btn-primary mr-3">
    Get 500 error
  </button>
  <button (click)="get400Error()"   class="btn btn-primary mr-3">
    Get 400 error
  </button>
  <button (click)="get401Error()" class="btn btn-primary mr-3">
    Get 401 error
  </button>
  <button (click)="get400ValidationError()" class="btn btn-primary mr-3">
    Get 400 validation error
  </button>
  <button (click)="get404Error()" class="btn btn-primary mr-3">
    Get 404 error
  </button>
</div>