.photo {
  position: relative;
  padding: 5px;
  opacity: 0.9;
  transition: 0.3s all;
  background: var(--bg-color-light);

  & > .buttons {
    display: none;
    position: absolute;
    bottom: 15px;
    width: 90%;
    transition: 0.3s all;
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    justify-content: center;
  }

  &:hover {
    opacity: 1;

    .buttons {
      display: flex;
    }
  }

}
