.card {
  overflow: hidden;
  max-height: 350px;
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s all ease-out;
  opacity: 0.9;

  .card-body {
    opacity: 0;
    flex: none;
    padding: 10px;
    background: var(--bg-color-normal-transparent);
    margin: 6px;
    border-radius: 10px;
    transition: 0.3s all;

    .card-title {
      margin-bottom: 5px;
      color: var(--member-card-title-color);
      font-weight: 700;
    }

    .card-text {
      color: var(--member-card-subtitle-color);
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: 600;
    }

  }

  &:hover {
    opacity: 1;
    //transform: translateY(-3px);
    box-shadow: 0 0 10px var(--box-shadow-color);
  }

  &:hover .card-body {
    //transform: translateY(-3px);
    opacity: 1;
  }
}

