.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px #6a6a6a50;
}


.main-title {
  color: var(--text-color)
}

