<ul class="list-group shadow rounded overflow-hidden">
  <li routerLink="/members/edit/account" routerLinkActive="active"
    class="list-group-item cp list-group-item-action">Account</li>
  <li routerLink="/members/edit/profile" routerLinkActive="active"
    class="list-group-item cp list-group-item-action">Profile</li>
  <li routerLink="/members/edit/photos" routerLinkActive="active"
      class="list-group-item cp list-group-item-action">Photos</li>
  <li routerLink="/members/edit/email" routerLinkActive="active"
    class="list-group-item cp list-group-item-action">Email</li>
  <li routerLink="/members/edit/password" routerLinkActive="active"
    class="list-group-item cp list-group-item-action">Password</li>
  <li routerLink="/members/edit/chat" routerLinkActive="active"
    class="list-group-item cp list-group-item-action">Chat & Messaging</li>
</ul>
