<div class="container-fluid mt-4 mb-5">
  <div class="row justify-content-center pb-100">
    <div @fadeIn class="col-xs-12 col-sm-10 col-md-8 col-lg-7">

      <div class="d-flex justify-content-between mb-4">

        <button goBack class="btn btn-light">
          <fa-icon [icon]="backIcon" class="mr-1"></fa-icon>
          Go back
        </button>

        <button *ngIf="showEditBtn" routerLink="/settings" class="btn btn-primary">
          <fa-icon [icon]="userEditIcon" class="mr-1"></fa-icon>
          Edit Profile
        </button>

        <button *ngIf="!showEditBtn" routerLink="/members" class="btn btn-primary">
          <fa-icon [icon]="sendIcon" class="mr-1"></fa-icon>
          Send Message
        </button>

      </div>

      <div *ngIf="userDetails$ | async as user">
        <app-member-details-card
          [user]="user">
        </app-member-details-card>
      </div>
    </div>
  </div>
</div>


