.dropzone {
  --dropzone-color: #862ED6;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 200px;
  border: 2px dashed var(--dropzone-color);
  border-radius: 5px;
  background: var(--bg-color-light);
  margin: 10px 0;

  .icon {
    color: var(--dropzone-color);
  }

  &.hovering {
    border: 2px solid var(--dropzone-color);
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}


#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
