.card {
  overflow: hidden;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.78);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s all ease-out;
  opacity: 0.9;

  .card-body {
    flex: none;
    padding: 12px;
    background: #ffffff;
    margin: 12px;
    border-radius: 10px;
    transition: 0.2s all ease-out;


    .card-title {
      margin-bottom: 5px;
      color: #6b0fc0;
      font-weight: 700;
    }

    .card-text {
      color: #4c6176db;
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }

  &:hover {
    opacity: 1;
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(128, 128, 128, 0.78);
  }

  &:hover .card-body {
    transform: translateY(-3px);
  }
}

.loveBtn {
  background-color: #6b0fc0;
  border-color: #93c7ff00;
 // color: #a9d3ff;
  color: white;
  transition: 0.2s all;


  &:hover {
    transform: translateY(-2px);
   // background-color: rgba(169, 211, 255, 0.73);
   // color: #6b0fc0;
  }
}

.sendBtn {
  background-color: #ba70ff47;
  border-color: #93c7ff00;
  color: #6b0fc0;
  transition: 0.2s all;

  &:hover {
    transform: translateY(-2px);
   // background-color: #6b0fc0;
   // color: #a9d3ff;
  }
}
