<ul class="list-group shadow rounded overflow-hidden">
  <li routerLink="/settings/account" routerLinkActive="active"
      class="list-group-item cp list-group-item-action">Account
  </li>
  <li routerLink="/settings/profile" routerLinkActive="active"
      class="list-group-item cp list-group-item-action">Profile
  </li>
  <li routerLink="/settings/photos" routerLinkActive="active"
      class="list-group-item cp list-group-item-action">Photos
  </li>
  <li routerLink="/settings/chat" routerLinkActive="active"
      class="list-group-item cp list-group-item-action">Chat & Messaging
  </li>
</ul>
