.list-group-item {
  border: none;
  border-left: 4px solid transparent;
  outline: none;
  background: var(--bg-color-light);
  color: var(--text-color);
  transition: 0.2s all;

  &:hover {
    color: var(--text-color-light);
    border-left: 4px solid #6b0fc095!important;
  }

  &.active {
    color: var(--text-color);
    background: var(--bg-color-light);
    border-left: 4px solid #6b0fc0!important;
    //font-weight: 600;
  }
}
