<div class="p-0 m-0 vh-100">
  <div class="row p-0 m-0">
    <div class="col-xs-12 col-sm-3 col-md-7 p-0 m-0">
      <div class="auth-image"></div>
      <a class="unsplash"
         href="https://unsplash.com/@carlesrgm?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
         target="_blank" rel="noopener noreferrer"
         title="Download free do whatever you want high-resolution photos from Carles Rabada">
        <span style="display:inline-block;padding:2px 3px">
          <svg xmlns="http://www.w3.org/2000/svg"
               style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
               viewBox="0 0 32 32"><title>unsplash-logo</title><path
            d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg>
        </span>
        <span class="d-inline-block py-1 px-2">Carles Rabada</span>
      </a>
    </div>
    <div class="col-xs-11 col-sm-9 col-md-5">
      <div class="row align-items-center justify-content-center vh-100">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>


