.form-control {
  background: white;
}

.dark {
  .form-control {
    background: var(--input-bg);
  }
}

ul.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  .section-pill {
    margin-right: 10px;
    background: var(--bg-color-light);
    padding: 5px 15px;
    border-radius: 20px;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.15s transform;

    &:hover {
      transform: scale(1.05);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .active {
    background: var(--main-color)!important;
    color: white!important;
    transform: scale(1.05);
  }
}

.section-box {
  text-align: center;
  color: var(--text-color);

  .forms {
    display: flex;
    justify-content: center;
  }
}
